header {
    background-color: #8B4513; /* Brown color using hex code */
  }
  .bg-brown {
    background-color: #8B4513; /* SaddleBrown or pick your favorite shade */
    color: white; /* Optional: Makes text easier to read */
  }
  .mark{
    background-color: #8B4513;
  }