header {
    background-color: #8B4513; /* Brown color using hex code */
  }
  .bg-brown {
    background-color: #8B4513; /* SaddleBrown or pick your favorite shade */
    color: white; /* Optional: Makes text easier to read */
  }
  .mark{
    background-color: #8B4513;
  }
  .bg-dark-brown {
    background-color: #4E342E; /* or your desired dark brown hex code */
  }

  h1 
  {
     font-family: Papyrus, fantasy; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; 
    }
     h5
     { 
      font-family: Papyrus, fantasy; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; 
    }
     p { 
      font-family: Papyrus, fantasy; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; 
    } 
    a
     { font-family: Papyrus, fantasy; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; 
    } 
    pre 
    { 
      font-family: Papyrus, fantasy; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px;
     }